<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="alert alert-warning" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="alert alert-warning" *ngIf="registerMessage">{{ registerMessage }}</div>
      <h3>Registration</h3>
      <form>
        <input type="text" id="email" class="fadeIn second" [(ngModel)]="email" name="email" placeholder="Email">
        <input type="text" id="username" class="fadeIn third" [(ngModel)]="username" name="username" placeholder="Username">
        <input type="password" id="password" class="fadeIn fourth" [(ngModel)]="password" name="password" placeholder="Password">
        <input type="submit" (click)="register()" class="fadeIn five" value="Register">
      </form>
    </div>
</div>
  
